
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

.lead.uppercase {
  text-transform: uppercase;
  text-align: center;
}

footer.footer * img.easydev-logo {
	height: 20px;
	line-height: 20px;
}